body{
    min-height: 100vh;
    background-color:#8fb8ea;
}

main{
    display: flex;
    margin-bottom: 70px;
}

.logo{
    width: 350px;
    height: 100px;
    margin-top: 10px;
    margin-left: 30px;
}

.escribirMensaje{
    margin-top: 30px;
    margin-left: 100px;
    width: 800px;
    height: 588;
    background-color:#8fb8ea;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-transform: lowercase;
    border-radius: 8px;
}

.escribirMensaje:hover{
    /*background-color:#5e7eb5;*/
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    margin-top: 20px;
    margin-left: 200px;
}

.boton-encriptar{
    margin: 5px;
    width: 250px;
    padding: 20px 0;
    font-size: 22px;
    background: #5e7eb5;
    font-weight: bold;
    color: white;
    border: none;
    padding: 16px 32px;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.boton-desencriptar{
    margin: 5px;
    width: 250px;
    padding: 20px 0;
    font-size: 22px;
    background: #5e7eb5;
    font-weight: bold;
    color: white;
    border: none;
    padding: 16px 32px;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    opacity: .5;
}

.boton-desencriptar:hover{
    opacity: .8;
    color: white;
    font-size: 24px;
}

.respuesta{
    background-image: url("Imagenes/Nubesegura.png");
    background-repeat: no-repeat;
    background-position: 30.5px, 400px;
    opacity: .4;
    margin-top: 30px;
    background-color: #8fb8ea;
    font-size: 25px;
    color: black;
    font-weight: bold;
    box-sizing: border-box;
    position: absolute;
    width: 400px;
    height: 800px;
    left: 1000px;
    border-radius: 8px;
 
}

.respuesta:focus{
    outline: none;
}

.respuesta:hover {
    /*background-color:#5e7eb5;
    box-shadow: 1px 1px 2px 12px rgba(232,242,255,255);*/
}

.boton-copiar{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;
position: absolute;
width: 336px;
height: 67px;
left: 1032px;
top: 830px;
border: 1px solid #0a3871;
border-radius: 8px;
opacity: .4;
}

.boton-copiar:hover{
    opacity: .8;
    color: #5e7eb5;
    font-size: 16px;
}

footer{
    text-align: center;
    background: url(imagenes/FooterOcean.png);
    padding: 40px;
}